header {
	background: url(../img/bg.png);
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}


nav a {
	/*text-shadow: 0 0 5px */
	padding: 10px;
	font-size: 30px;
	color: white;
	background-color: #6D4937;
	border-radius: 7px;

}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

body {
	margin: 0;
	

}

.main-margin {
	margin-top: 120px;

	
}



#form {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 15;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;

}

#form-login {
	position: fixed;
	top: 40%;
	right: 45%;
	border-radius: 10px;
	background: url(../img/bg.png);
	z-index: 20;
	

}

#form:target {
	display: block;
}



#close:target {
	display: none;
}


#close-btn {
	margin-left: 260px;
}


input[type=email] {
	width: 280px;
	height: 50px;
	font-size: 2em;
	margin-bottom: 10px;
}

input[type=password] {
	width: 280px;
	height: 50px;
	font-size: 2em;
	margin-top: 5px;
	margin-bottom: 10px;
}

input[type=submit] {
	width: 100px;
	height: 40px;
	font-size: 1.5em;
	margin-left: 180px;
} 


/*стили применяют применяются к div внутри элемента с классом .item, 
когда на элемент с классом .item навели курсор мыши, 
поменялось display: none
на display: block;*/

/*.item:action form {
    display: block;
}*/

h2 {
	text-align: center;
	font-size: 35px;
	font-stretch: 19px;
	color: rgba(33,33,33, 0.6);
	text-shadow: 0px 1px;

}


a {
	/*оформления текста в виде подчеркивания, перечеркивания, линии над текстом */
	text-decoration: none;
}

.imgindex {
	width: 100%;
	height: auto; /* высота пропорционально подстраивается под ширину без искажения */
	align-content: center;

}

.index-p {
	font-size: 20px;
	border: 2px solid black;
}

.more {
	font-size: 20px;
	background-color: #C0714F;
	border-right: 1px solid orange;
}

footer {
	background: url(../img/bg.png);
	height: 100px;
	width: auto;
	position: relative;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
}

.price {
	font-family: Impact, Charcoal, sans-serif;
}

.gitlink {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 32px;
	height: 32px;
}


